Source: owlcat
Section: python
Priority: extra
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 10),
 dh-python,
 python3-all,
 python3-astropy,
 python3-casacore,
 python3-setuptools
Standards-Version: 4.5.0
Homepage: https://github.com/ska-sa/owlcat
XS-Python3-Version: >= 3.6

Package: python3-owlcat
Architecture: any
Depends: ${python3:Depends},
 ${misc:Depends},
 python3-numpy,
 python3-matplotlib,
 python3-astro-kittens,
 python3-meqtrees-cattery
Description: miscellaneous utility scripts for manipulating interferometry data

Package: owlcat
Architecture: any
Depends: ${misc:Depends}, python3-owlcat
Description: Meta package for python-owlcat

